{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Party IQ{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block metablock %}{% endblock %}    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bower_components/jquery-ui/themes/base/jquery-ui.css" %}">
        <link rel="stylesheet" href="{% static "bower_components/bootstrap-datepicker/css/datepicker.css" %}"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="{% static "bower_components/html5shiv/dist/html5shiv.js" %}"></script>
          <script src="{% static "bower_components/respond/dest/respond.min.js" %}"></script>
        <![endif]-->

        <!-- Optional theme -->
        {#    <link rel="stylesheet" href="{% static "css/bootstrap-theme-3.1.0.min.css" %}">#}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bower_components/jquery-ui/ui/minified/jquery-ui.min.js" %}"></script>
        <script src="{% static "bower_components/jquery.cookie/jquery.cookie.js" %}"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
        {% block extrahead %}{% endblock extrahead%}
    </head>
    <body>
        {% block top-nav %}
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home-page' metro.slug %}"><font size="5">Party IQ</font></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% if guide == 'events' %}
                                <li class="active"><a href={% url 'events-page' metro.slug 'all' %}>Events</a></li>
                            {% else %}
                                <li><a href={% url 'events-page' metro.slug 'all' %}>Events</a></li>
                            {% endif %}
                            {% if guide == 'venues' %}
                                <li class="active"><a href="#">Venues</a></li>
                            {% else %}
                                <li><a href="#">Venues</a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ metro.name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for city in metros %}
                                    {% if city.slug != metro.slug %}
                                       <li><a href={% url 'home-page' city.slug %}>{{ city.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                          </li>
                          <li class="dropdown">
                                {% load socialaccount %}
                                {% providers_media_js %}
                                {% if user.is_authenticated %}
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <img src="{{ request.user.profile.profile_image_url }}"/>&nbsp;
                                        {% if user.first_name or user.last_name %}
                                            {{ user.first_name }} {{ user.last_name }}
                                        {% else %}
                                            {{ user.username }}
                                        {% endif %}
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" href="#"><span
                                                class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Settings</a></li>
                                        <li class="divider"></li>
                                        {% if user.is_staff %}
                                            <li><a href="/admin/"><span class="glyphicon glyphicon-tower"></span>&nbsp;&nbsp;Administration</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log
                                                Out</a>
                                        </li>
                                    </ul>
                                {% else %}
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span class="glyphicon glyphicon-question-sign"></span>&nbsp;
                                        Guest <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" href="#settings-modal"><span
                                                class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Settings</a></li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="{% provider_login_url "facebook" method="js_sdk" %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log
                                                In...</a>
                                        </li>
                                    </ul>
                                {% endif %}
                          </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="container">
            {% block container %}
                {% block torso %}
                {% endblock %}
            {% endblock %}
        </div>
    </body>
</html>

