{% extends "base.html" %}


{% block container %}
    {% load jsonify %}
    {% load timetags %}
    <style type='text/css'>
        table.etable td {
            background-color: lightgray;
            margin: 6px 6px 6px 6px;
        }
        table.etable {
            border-collapse: separate;
            border-spacing: 5px;
            *border-collapse: expression('separate', cellSpacing = '10px');
        }
        .accordion-toggle:hover{ cursor: pointer; cursor: hand; }
        a#type_item:link, a#type_item:visited { color: darkred ;text-decoration:underline; }
        a#type_item:hover { color: green ; }
        a#type_item:active { color: darkred ;text-decoration:underline; }
    </style>
    <div class="col-md-3">
        <div id="calendar" data-date={{ date }} data-date-format="yyyy-mm-dd">
        </div>
        <br>
        <div class="col-xs-12">Popular Event Types:</div>
        <br>
        <br>
        <div class="col-xs-12">
            {% if type == 'all' %}
                <a id="type_item" href={% url 'events-page' metro.slug 'all' date %}>All</a>
            {% else %}
                <a href={% url 'events-page' metro.slug 'all' date %}>All</a>
            {% endif %}
        </div>
        <br>
        <div class="col-xs-12">
            {% if type == 'clubs' %}
                <a id="type_item" href={% url 'events-page' metro.slug 'clubs' date %}>Clubs</a>
            {% else %}
                <a href={% url 'events-page' metro.slug 'clubs' date %}>Clubs</a>
            {% endif %}
        </div>
        <br>
        <div class="col-xs-12">
            {% if type == 'music' %}
                <a id="type_item" href={% url 'events-page' metro.slug 'music' date %}>Music</a>
            {% else %}
                <a href={% url 'events-page' metro.slug 'music' date %}>Music</a>
            {% endif %}
        </div>
    </div>
    <span style="font-weight:bold">
    <div class="col-md-9">
        <table class="etable" border="1">
            <thead>
                <tr>
                    {{ metro.name }} Events for {{ dateObj|date:"M dS, Y" }}
                    <br>
                    <br>
                </tr>
            </thead>
            <tbody>
            {% if realtime_events %}
                {% for event in realtime_events %}
                    <tr data-toggle="collapse" data-target="#edata{{ forloop.counter }}" class="accordion-toggle">
                        <td align="center" width="100">
                            <img src={{ event.data.pic_big|jsonify }}>
                        </td>
                        <td width="300">
                            <div class="crop_venue">
                                {{ event.name }}<br><br>
                                {% with metro.timezone as tz %}
                                    {%  if event.start_time %}{{ event.start_time|convert_time:tz  }} at {% endif %}
                                {% endwith %}
                                {{ event.place.name }}
                                <br>
                                {{ event.data.venue.street|jsonify|cut:'"' }}
                                <br>{{ event.data.venue.city|jsonify|cut:'"' }}, {{ event.data.venue.state|jsonify|cut:'"' }}
                            </div>
                            <div class="crop_friends">
                                {% if event.friends %}
                                    <br>
                                    {% for friend in event.friends %}
                                        <img src="http://graph.facebook.com/{{ friend.uid }}/picture?width=15&height=15" class="img-circle" />
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="400" colspan="2" class="hiddenRow">
                            <div id="edata{{ forloop.counter }}" class="accordian-body collapse">
                                <p>{{ event.description|linebreaks }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for event in events %}
                    <tr data-toggle="collapse" data-target="#edata{{ forloop.counter }}" class="accordion-toggle">
                        <td align="center" width="100">
                            <img src={{ event.data.pic_big|jsonify }}>
                        </td>
                        <td width="300">
                            <br>{{ event.name }}<br>
                            {%  if event.start_time %}<br>{{ event.start_time|time:"g:iA"|lower  }}{% endif %}
                            {%  if event.end_time %}- {{ event.end_time|time:"g:iA"|lower  }}{% endif %}
                            <br><br> {{ event.place.name }}
                            <br>{{ event.data.venue.street|jsonify|cut:'"' }}
                            <br>{{ event.data.venue.city|jsonify|cut:'"' }}, {{ event.data.venue.state|jsonify|cut:'"' }}
                        </td>
                    </tr>
                    <tr>
                        <td width="400" colspan="2" class="hiddenRow">
                            <div id="edata{{ forloop.counter }}" class="accordian-body collapse">
                                <p>{{ event.description|linebreaks }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    </span>
<script type="text/javascript">
    $('#calendar').datepicker({
        todayHighlight: true,
        format: "yyyy-mm-dd"
    }).on('show', function(e){
       ev.stopPropagation();
    }).on('changeDate', function(e){
        var url = '{% url 'events-page' metro.slug type 999 %}'.replace(999, e.format("yyyy-mm-dd"))
        window.location = url;
    });
</script>


{% endblock %}