{% extends "base.html" %}


{% block container %}
    {% load jsonify %}
    {% load timetags %}

    <script type="text/javascript">
        $(function() {
            $("td[colspan=2]").find("p").hide();
            $("table").click(function(event) {
            event.stopPropagation();
            var $target = $(event.target);
            if ( $target.closest("td").attr("colspan") > 1 ) {
                $target.slideUp();
            } else {
                $target.closest("tr").next().find("p").slideToggle();
            }
        });
        });
    </script>

    <style type='text/css'>
        .carousel-inner .active.left { left: -25%; }
        .carousel-inner .next        { left:  25%; }
        .carousel-inner .prev		 { left: -25%; }
        .carousel-control 			 { width:  4%; }
        .carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}

        .row_events:hover{ background-color: #ccc; cursor: pointer; cursor: hand; }
        .DivOverlayLayouts.com-div-generator{display:none}
        body {
        background-color:FFFFFF
        }

        .crop {
            width: 200;
            height: 162px;
            overflow: hidden;
            position: relative;
            padding-bottom: 0.5em;
            text-align:center;
            font-size:85%;
            font-weight:bold;
        }

        .crop_venue {
            width: 200px;
            height: 20px;
            overflow: hidden;
            position: relative;
            font-size:80%;
            text-align:center;
        }


        .crop_friends {
            width: 200px;
            height: 40px;
            overflow: hidden;
            position: relative;
            text-align:center;
        }

        table.etable td {
            background-color: lightgray;
            margin: 12px 12px 12px 12px;
            padding: 12px 12px 12px 12px;
        }
        table.etable {
            border-collapse: separate;
            border-spacing: 10px;
            *border-collapse: expression('separate', cellSpacing = '10px');
        }

        .contain div {
        background-color:666677;
        color:FFFFFF;
        font: 10pt Arial,Helvetica,sans-serif;
        overflow:auto
        }
        a:link, a:active, a:visited, a.navbar:link, a.navbar:active, a.navbar:visited, a.man:link, a.man:active, a.man:visited, a:hover, a.navbar:hover, a.man:hover {
        color:000000;
        font: 10pt Arial,Helvetica,sans-serif
        }
        html {
            height: 100%;
        }

        body {
            height: 100%;
        }
        .bodyContent div div form{display:inline}
        a img{border:none}
        DivOverlayLayouts.com-additional-coding{display:none}
    </style>
    <form id='myform' role="form" action="" method="post">{% csrf_token %}
    <div class="col-lg-8 ">
        <div class="col-xs-6 text-justify">
            <h4>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-glass"></span>&nbsp;Featured Venues</h4><br>
        </div>
        <div class="col-xs-12 ">
            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                    {% for place in places %}
                        {% if forloop.first %}
                            <div class="item active">
                                <div class="col-xs-3"><a href="#"><img src={{ place.data.pic|jsonify }} class="img-thumbnail" style="min-height:100px;height:100px;"></a></div>
                            </div>
                        {% else %}
                            <div class="item">
                                <div class="col-xs-3"><a href="#"><img src={{ place.data.pic|jsonify }} class="img-thumbnail" style="min-height:100px;height:100px;"></a></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
        <div class="col-xs-12"><br></div>
        <div class="col-xs-12">
            <div class="col-xs-4 text-left">
                <h4><span class="glyphicon glyphicon-calendar"></span>&nbsp;Events&nbsp&nbsp<a href={% url 'events-page' metro.slug 'all' %}>see more events</a></h4>
            </div>
            <div class="col-xs-4">
                <ul class="nav nav-tabs" style="float:left;">
                    {{ form.type }}
                    {% if type == 'all' %}
                        <li class="active"><a href="" class="clickClass" data-value="all">All</a></li>
                    {% else %}
                        <li><a href="" class="clickClass" data-value="all">All</a></li>
                    {% endif %}
                    {% if type == 'music' %}
                        <li class="active"><a href="" class="clickClass" data-value="music">Music</a></li>
                    {% else %}
                        <li><a href="" class="clickClass" data-value="music">Music</a></li>
                    {% endif %}
                    {% if type == 'clubs' %}
                        <li class="active"><a href="" class="clickClass" data-value="clubs">Clubs</a></li>
                    {% else %}
                        <li><a href="" class="clickClass" data-value="clubs">Clubs</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1' data-date-format="MMMM DD, YYYY">
                        <input type='text' id="id_date" name="date" value="{{ form.date.value }}" class="form-control" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <br>
                <table class="etable">
                {% if realtime_events %}
                    <tr>
                    {% for event in realtime_events %}
                        <td align="top" width="200" height="230">
                            <div class="crop"><img src={{ event.data.pic_big|jsonify }} width="200" height="130" style="padding-bottom:0.5em;" />{{ event.name }}</div>
                            <div class="crop_venue">
                                {% with metro.timezone as tz %}
                                    {%  if event.start_time %}{{ event.start_time|convert_time:tz  }}{% endif %}
                                {% endwith %}
                                at {{ event.place.name }}
                            </div>
                            <div class="crop_friends">
                                {% if event.friends %}
                                    {% for friend in event.friends %}
                                        <img src="http://graph.facebook.com/{{ friend.uid }}/picture?width=15&height=15" class="img-circle" />
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </td>
                        {% if forloop.counter|divisibleby:3 %}
                            </tr>
                            <tr>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                    {% for event in events %}
                       <td align="top" width="200" height="230">
                            <div class="crop"><img src={{ event.data.pic_big|jsonify }} width="200" height="130" style="padding-bottom:0.5em;" />{{ event.name }}</div>
                            <div class="crop_venue">
                                {%  if event.start_time %}{{ event.start_time|time:"g:iA"|lower  }}{% endif %}
                                at {{ event.place.name }}
                            </div>
                            <div class="crop_friends">
                            </div>
                        </td>
                        {% if forloop.counter|divisibleby:3 %}
                            </tr>
                            <tr>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endif %}
            </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <a class="twitter-timeline" height="1023" href="https://twitter.com/isarkisov/sf-clubs" data-widget-id="441449626671906816">Tweets from https://twitter.com/isarkisov/sf-clubs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    </form>

<script type="text/javascript">
    var $ = jQuery.noConflict();
    $(document).ready(function() {
         $('#myCarousel').carousel({ interval: 3000 });
            });
            $('.carousel .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));

          for (var i=0;i<2;i++) {
            next=next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
          }
        });
</script>
<script type="text/javascript">
    $('a.clickClass').click(function(e){
        //preventing the default link redirection
        e.preventDefault();
        $('#id_type').val($(this).data('value'));
        $(this).closest('form').submit();
    });
 </script>
<script type="text/javascript">
    $('#datetimepicker1').datepicker({
        todayHighlight: true,
        format: "MM dd, yyyy"
    }).on('changeDate', function(e){
     $('#id_date').val(e.format("MM dd, yyyy"));
      document.forms["myform"].submit();
    });
</script>
{% endblock %}
